[user]
	email = khannon11@gmail.com
	name = Kyle Hannon

[alias]
	co = checkout
	br = branch
	st = status
	up = pull --rebase
    staged = diff --staged
    amend = commit --amend
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[push]
	default = simple
